*
{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: "Open Sans",sans-serif;
}
/*Start Variables*/
:root
{
    --main-color:#19c8fa;
    --transparent-color:rgb(15 116 143 / 70%);
    --section-padding:100px;
}
/*End Variables*/
/* Start Components */
.main
{
    text-align: center;
}
.main h2
{
    font-size: 40px;
    margin-bottom: 70px;
    position: relative;
    font-weight: normal;

}
.main h2::before
{
    content:"";
    position: absolute;
    bottom: -28px;
    color:white;
    background-color: white;
    border:2px solid #333;
    width:18px;
    height:18px;
    border-radius: 50%;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;


}
.main h2::after
{
    content:"";
    position: absolute;
    bottom: -20px;
    width:120px;
    height:1.5px;
    background-color: #333;
    left:50%;
    transform: translateX(-50%);
}
.main p
{
    width: 550px;
    max-width: 100%;
    color: #777;
    line-height: 2;
    margin:0 auto 100px;
}
.ul-global
{
    list-style: none;
}
 /* .bullets
{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    bottom:30px;
} */
/* End Components */
.container
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  
}
header
{
    z-index: 2;
    position: absolute;
    width:100%;
}
/*Start Header*/
header .container
{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    position:relative;
    min-height: 97px;
    
}
header .container::after
{
    content:"";
    position:absolute;
    height:1px;
    width:calc(100% - 30px);
    left:15px;
    bottom: 0;
    background-color: #a2a2a2;

}
header .container img
{
    height:30px;
}
nav
{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:white;
}
nav ul
{
    list-style: none;
    display: flex;
   
}
nav a
{
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    padding:40px 10px;
    display: block;
}
nav .active, nav li a:hover
{
    color:var(--main-color);
    border-bottom:1px solid var(--main-color);
    z-index: 1;
    position: relative;

}
nav .search
{
    width:40px;
    height:30px;
    position: relative;
    border-left: 1px solid white;
    margin-left: 30px;
   
}
nav .search i
{
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}
@media (min-width:768px)
{
    nav .bar
    {
        display: none;
    }
    nav ul 
    {
        display: flex !important;
    }
}
@media (max-width:767px)
{
    nav ul
    {
     
        display: none;
        flex-direction: column;
        position: absolute;
        top:100%;
        width:100%;
        left:0;
        background-color: rgb(0 0 0/50%);
    }
    nav a 
    {
        padding:15px;
    }
}
/*End Header*/
/*Start Landing*/
.landing
{
    background-image: url(img/landing\ \(1\).jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.landing .overlay
{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color: rgb(0 0 0/50%);;
}
.landing .text
{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    color:white;
    width:50%;
    padding:40px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
    

}
.landing .content
{
    max-width: 400px;

 
}
.change
{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:white;
}
.fa-angle-left 
{
    left:30px;
}
.fa-angle-right
{
    right:30px;
}
.landing .bullets
{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    bottom:30px;
}
.landing .bullets i
{
    margin-left: 10px;
    color:#a2a2a2;
}
.landing .active
{
    color:var(--main-color) !important;
}
@media (max-width:768px)
{
    .landing .text
    {
        width:100%;
    }
    .landing .content
    {
        max-width: 100%;
    }
    .change
    {
        display: none;
    }
}
/*End Landing*/
/* Start Services */
.services
{
    padding:var(--section-padding) 0;
}
.services-container
{
}
.services .box
{
    display: flex;
}
@media (min-width:768px)
{
    .services-container
    {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }
}
    @media (max-width:767px)
{
    .services .box
    {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .box i 
    {
        margin:0 0 30px !important;
    }
}

.services .box i
{
    margin-right: 50px;
}
.services .box h2
{
    margin-bottom: 30px;
    color:var(--main-color);
}
.services .box p
{
    color:#777;
    line-height: 2;

}
/* End Services */
/* Start Design */
.design
{
    background-image: url("img/design-features.jpg");
    background-size: cover;
    padding:var(--section-padding) 0;
    height:600px;
    position:relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before
{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgb(0 0 0 / 60%);
}
.design .text , .design .img
{
    position: relative;
    z-index: 2;
    flex:1;
}
.design .text
{
    color:white;
    padding:50px;
    background-color: var(--transparent-color);
}
.design .text h2
{
    font-weight: normal;
    margin-bottom: 40px;
}
.design  img
{
    position: relative;
    bottom:-150px;
}
.design .img
{
    text-align: center;
}
@media (max-width:767px)
{
    .img
    {
        display: none;
    }
}
.design ul
{
    list-style: none;
}
.design ul li
{
    padding:15px 0;
}
.design i
{
    margin-right:15px;
}
/* End Design */
/* Start Portfoio */
 .portfolio
{
    padding: var(--section-padding) 0;
}
.portfolio .shuffle
{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li
{
    padding:10px;
}
.portfolio .active
{
    background-color: var(--main-color);
    color:white;
}
.portfolio .img-container
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .img-container .box
{
    position:relative;
    overflow: hidden;
} 
.portfolio .box img
{
    max-width: 100%;
    transition: 0.3s;
}
@media (min-width:768px)
{
    .portfolio .img-container .box
    {
        flex-basis:50%;
    }
}
@media (min-width:1199px)
{
    .portfolio .img-container .box
{
    flex-basis: 25%;
} 
}
.portfolio .box:hover img
{
    transform: rotate(3deg) scale(1.1);
}
.portfolio .box:hover .text
{
    bottom:0;
}
.portfolio .box .text
{
    position:absolute;
    bottom:-100px;
    background-color: white;
    width: 100%;
    left:0;
    padding:20px;
    transition: 0.3s;
}
.portfolio .box p
{
    color:var(--main-color);
}
.portfolio a
{
    background-color: var(--main-color);
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    display:block;
    width:fit-content;
    margin:30px auto;
}
/* End Portfolio */
/* Start Video  */
.video
{
    position: relative;
}
.video::before
{
    content:"";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background-color: rgb(0 0 0 / 40%);
}
.video video
{
    width:100%;
}
.video .text
{
    width: 100%;
    background-color: var(--transparent-color);
    color:white;
    text-align: center;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    padding:50px;
}
.video  h2
{
    font-weight: normal;
    margin:0 0 30px;
}
.video p
{
    margin-bottom: 30px;
}
.video button
{
    background-color: black;
    color:white;
    padding:10px 20px;
    border:none;
}
/* End Video  */
/* Start About */
.about 
{
    padding-top:var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img
{
    position:relative;
    bottom:-120px;
    max-width: 100%;
    margin-top:-120px;
}
@media (max-width:767px)
{
    .about img 
    {
        bottom:-60px;
        margin-top:-60px;
    }
}
/* End About */
/* Start Statistics */
.stats
{
    text-align: center;
    background-image: url("img/stats.jpg");
    background-size: cover;
    position:relative;
}
.stats .container
{
    padding: var(--section-padding) 0;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    color:white;
}
.stats::before
{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgb(0 0 0 / 70%);
}
.stats .box
{
    padding:50px;
    background-color: var(--transparent-color);
}
@media (max-width:767px)
{
    .stats .box
  {
    flex-basis: 100%;
  }
}
@media (min-width:768px)
{
    .stats .box
  {
    flex-basis: 50%;
  }
}
@media (min-width:992px)
{
    .stats .box
  {
    flex-basis: 25%;
  }
}
.stats .box i
{
    background-color: black;
    width:40px;
    height:40px;
    border-radius: 50%;
    margin:0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats .box h4
{
    font-size: 50px;
    font-weight: bold;
    margin:0 0 20px;
}
.stats .box p
{
    font-size: 14px;
}
/* End Statistics */
/* Start Skills  */
.skills-section
{
    padding:var(--section-padding) 0;
}
.skills-section .container
{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width:991px)
{   
    .skills-section .container > div 
    {
        flex-basis: 45%;
    }
}
.skills-section .container > div >p
{
    color:#777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}
.skills-section .testimonials .box img
{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width:767px)
{
    .skills-section .testimonials .box 
{
    flex-direction: column;
    text-align: center;
}
.skills-section .testimonials .box img
{
    margin:0 auto 20px;
}
}
.skills-section .testimonials .box .text
{
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.skills-section .testimonials .box .text p
{
    color:#777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.skills-section .bullets
{
    display: flex;
    margin: 50px 0;
    justify-content: center;

}
.skills-section .bullets i
{
    margin: 0 5px;
    color: #aaa;
}
.skills-section .active
{
    color: var(--main-color) !important;
}
.skills-section .testimonials .prog-holder
{

}
.skills-section .skills  h4
{
    font-weight: normal !important;
    margin-bottom: 16px !important;
}
.skills-section  .prog
{
    background-color: #dedadc;
    height:30px;
}
.skills-section .prog-holder span
{
    display: block;
    height:100%;
    position: relative;
    background-color: var(--main-color);

}
.skills-section .skills .prog-holder span::before
{
    content:attr(data-prog);
    background-color: black;
    color:white;
    position:absolute;
    right:-18px;
    top:-40px;
    padding:4px 0 ;
    width:40px;
    text-align: center;
    border-radius: 4px;
}
.skills-section .skills .prog-holder span::after
{
    content:"";
    border-width: 8px;
    border-style: solid;
    border-color:black transparent transparent transparent;
    top: -10px;
    position: absolute;
    right: -8px;
}
.skills-section  h3, .skills-section > p
{
    text-align: center;
}
/* End Skills  */
/* Start Quote  */
.quote
{
    text-align: center;
    background-image: url("img/quote.jpg");
    padding:var(--section-padding) 0;
    background-size: cover;
    color:white;
    position:relative
}
.quote::before
{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgb(0 0 0 / 75%);

}
.quote .container
{
    position: relative;

}
.quote q
{
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
/* End Quote  */
/* Start Pricing */
.Pricing
{
    padding:var(--section-padding) 0;
}
.Pricing .plans
{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(250px , 1fr)) ;
    gap:30px;
    
}
.Pricing li
{
    list-style: none;
    width:fit-content;
    margin:20px auto;
    border-bottom: 1px solid var(--main-color);
}
.Pricing a
{
    text-decoration: none;
    margin:30px auto;
    border:1px solid var(--main-color);
    padding:20px;
    display: block;
    width: fit-content;
}
@media (max-width:767px)
{
   
}
.Pricing .plan
{
    text-align: center;
    background-color: #fcfcfc;
}
.Pricing .plan .head
{
    padding: 40px 20px;
    border-top:1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.Pricing .plan .head h3
{
    font-weight: normal;
    margin-bottom: 20px;
}
.Pricing .plan .head span
{
    position: relative;
    font-weight: bold;
    font-size:60px ;
}
.Pricing .plan .head span::before
{
    content:"$";
    position: relative;
    top:-40px;
    font-size: 25px;
    left:-15px;
}
.Pricing .plan .head span::after
{
    content:"/Mo";
    position: relative;
    font-size: 25px;
    right:-15px;
}
.Pricing .foot
{
    border-top: 1px solid var(--main-color);
}
.Pricing .contact-text
{
    margin:50px auto 20px;
    text-align: center;
    font-size: 20px;
}
.Pricing .contact-link
{
    margin:20px auto;
    display: block;
    background-color: var(--main-color);
    color:white;
    padding:15px 30px;
}
/* End Pricing */
/* Start Subscribe */
.subscribe
{
    position:relative;
    padding:var(--section-padding) 0;
    background-image: url("img/subscribe.jpg");
    background-size: cover;
    color:white;
}
.subscribe::before
{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgb(0 0 0/50%);
}
.subscribe .container
{
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width:991px)
{
    .subscribe .container
    {
        flex-direction: column;
    }
}
.subscribe form
{
    width:500px;
    display: flex;
    position: relative;
    max-width: 100%;
}
.subscribe i
{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:25px;
}
.subscribe form input[type="email"]
{
    background: none;
    border:1px solid white;
    border-right:none;
    caret-color: var(--main-color);
    padding:20px 20px 20px 60px;
    width:calc(100% - 130px);
}
.subscribe form input[type="submit"]
{
    background-color: var(--main-color);
    color:white;
    border:1px solid white;
    border-left:none;
    padding:10px 20px;
    text-transform: uppercase;
    width:130px;
}
.subscribe ::placeholder
{
    color:white;
}
.subscribe p
{
    line-height: 2;
    margin-left: 20px;
}
@media (max-width:991px)
{
    .subscribe p 
    {
        margin: 20px 0 0;
    }
    .subscribe form 
    {
    
    }
}
/* End Subscribe */
/* Start Contact  */
.contact
{
    padding:var(--section-padding) 0;
}
.contact .content
{
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px)
{
    .contact .content
    {
        flex-direction: column;
    }
    .contact .info
    {
        order:-1;
        text-align: center;
    }
}
.content form
{
     flex-basis: 70%;
}
.contact .main-input
{
    padding:20px;
    border:1px solid #ccc;
    margin-bottom: 30px;
    display: block;
    width:100%;
}
.contact textarea
{
    height:200px;
}
.contact .content input[type="submit"]
{
    background-color: var(--main-color);
    color:white;
    text-transform: uppercase;
    padding:20px;
    border:none;
    display: flex;
    margin-left: auto;
    cursor: pointer;
}
.contact .info 
{
    flex-basis: 25%;
}
.contact .info h4
{
    margin-bottom: 30px;
    font-weight: 500px;
    font-size: 18px;
}
.contact .info .phone
{
    margin-bottom: 10px;
    color:#777;
    display: block;
}
.contact .content .info h4:nth-last-of-type(1)
{
    margin-top: 80px;
}
@media (max-width:767px)
{
    .contact .content .info h4:nth-last-of-type(1)
    {
        margin-top:30px;
    }
}
.contact address
{
    line-height: 2;
    color:#777;
}
@media (max-width:767px)
{
    .contact address
    {
        margin-bottom: 40px;
    }
}
/* End Contact  */
/* Start Footer  */
footer
{
    padding:calc(var(--section-padding)/2) 0;
    background-image: url("img/subscribe.jpg");
    background-size: cover;
    position: relative;
    color:white;
    text-align: center;
}
footer::before
{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgb(0 0 0/70%);
}
footer .container
{
    position:relative;
}
footer i
{
    padding:10px 15px;
}
footer p:not(.copyright)
{
    font-size: 20px;
    padding:20px;
    margin:20px auto;
    width: fit-content;
    border-bottom: 1px solid white;
}
footer .copyright
{
    margin-top: 60px;
}
footer span
{
    color:var(--main-color);
    font-weight: bold;
}
/* End Footer  */



















@media (min-width:768px)
{
    .container
    {
        width:750px;
    }
}
@media (min-width:992px)
{
    .container
    {
        width:970px;
    }
}
@media (min-width:1200px)
{
    .container
    {
        width:1170px;
    }
}